.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  max-width: 1280px;
}

/* --- */

/* .form-wizard {
} */

.form-wizard__step {
  display: none;
}

.form-wizard__step.is-active {
  display: block;
}

.no-js .form-wizard__step {
  display: block;
}

.form-wizard__control {
  display: none;
}

.form-wizard__control.is-active {
  display: inline-block;
}

.no-js .form-wizard__control {
  display: inline-block;
}
